<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <div class="center">
        <h1>Contact Information</h1>
        <p>Here is contact information for the developer of this app:</p>
        <form>
            <div><label class="topic"> First Name: </label> <label> {{name}}</label></div>
            <div><label class="topic"> Last Name: </label> <label> {{last}}</label></div>
            <div><label class="topic"> Email: </label> <label> {{email}}</label></div>
        </form>
    </div>
</body>
</html>