<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term Non-English</title>
</head>

<body>
    <div class="header">
        <tr>
            <td>
                <h2>List of Non-English Terms - </h2>
                <label>
                <input type="search" placeholder="Search..." [(ngModel)]="searchString" (ngModelChange)="doSearch()">
                <!-- <button class="k">Search</button> -->
            </label>
            </td>
            <td >
            </td>
        </tr>
    </div>

    <div class="tbl">
        <tbody class="termtable">
            <tr>
                <th>Word</th>
                <th>Author</th>
                <th>Definition</th>
                <th>Field Of Study</th>
                <th></th>
            </tr>
            <ng-template *ngIf="searchString.length>2;then search; else all"></ng-template> 
            <ng-template #all>
            <tr class="termstablerow" *ngFor="let n of termNonEnglish">
                <td class="word">{{n.wordNonEnglish}}</td>
                <td class="author">{{n.authorName}}</td>
                <td class="def">{{n.definitions[0].definition}}</td>
                <td class="field">{{n.fieldOfStudy }}</td>
                <td class="detail"><button class="btn-grad" [routerLink]="['/term/nonEnglish/detail',n._id]">Detail</button></td>
            </tr>
        </ng-template>
        <ng-template #search>
            <tr class="termstablerow" *ngFor="let n of termNonEnglishSearch">
                <td class="word">{{n.wordNonEnglish}}</td>
                <td class="author">{{n.authorName}}</td>
                <td class="def">{{n.definitions[0].definition}}</td>
                <td class="field">{{n.fieldOfStudy }}</td>
                <td class="detail"><button class="btn-grad" [routerLink]="['/term/nonEnglish/detail',n._id]">Detail</button></td>
            </tr>
        </ng-template>
        </tbody>
    </div>
</body>

</html>