<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="center">
        <p>The app’s purpose is to define or translate the English-language terminology we use in the computer
            programming courses in the School of SDDS, for use by all students, whether or not English is a
            student’s first language.
        </p>
            <p class="und">WEB API: <a href="https://hidden-waters-14346.herokuapp.com/"
                    taget="_blank">https://hidden-waters-14346.herokuapp.com/</a></p>
    </div>
    <tr>
        <td class="left">
            <div class="webapilinks">
                <h3>English</h3>
                <p>Get All English Term: <a href="https://hidden-waters-14346.herokuapp.com/api/termEnglish"
                        taget="_blank">api/termEnglish</a></p>
                <p>Get One English Term By Id: <a
                        href="https://hidden-waters-14346.herokuapp.com/api/termEnglish/5e8535a4180b680017efcbab"
                        taget="_blank">api/termEnglish/:id</a></p>
                <p>Get One English Term By Word: <a
                        href="https://hidden-waters-14346.herokuapp.com/api/termEnglish/word/JSON"
                        taget="_blank">api/termEnglish/word/:word</a></p>
                <p>Add New English Term: api/termEnglish</p>
                <p>Add Definition For English Term: /api/termEnglish/:id/add-defintion</p>
                <p>Increment Yes Counter For English Term: /api/termEnglish/yes/:id</p>
                <p>Increment No Counter For English Term: /api/termEnglish/no/:id</p>
                <p>Increment Likes Counter For English Terms Definition: /api/termEnglish/likes/:id</p>
                <p>Delete a English Term: /api/delete/termEnglish/:id</p>
            </div>
        </td>

        <td class="right">
            <div class="webapilinks">
                <h3>Non-English</h3>
                <p>Get All Non-English Term: <a href="https://hidden-waters-14346.herokuapp.com/api/termNonEnglish"
                        taget="_blank">api/termNonEnglish</a></p>
                <p>Get One Non-English Term By Id: <a
                        href="https://hidden-waters-14346.herokuapp.com/api/termNonEnglish/5e68fc8d4e66bc5c92978bfe"
                        taget="_blank">api/termNonEnglish/:id</a></p>
                <p>Get One Non-English Term By Word: <a
                        href="https://hidden-waters-14346.herokuapp.com/api/termNonEnglish/word/Asynchronisme"
                        taget="_blank">api/termNonEnglish/word/:word</a></p>
                <p>Add New Non-English Term: api/termNonEnglish</p>
                <p>Add Definition For Non-English Term: /api/termNonEnglish/:id/add-defintion</p>
                <p>Increment Yes Counter For Non-English Term: /api/termNonEnglish/yes/:id</p>
                <p>Increment No Counter For Non-English Term: /api/termNonEnglish/no/:id</p>
                <p>Increment Likes Counter For Non-English Terms Definition: /api/termNonEnglish/likes/:id</p>
                <p>Delete a Non-English Term: /api/delete/termNonEnglish/:id</p>
            </div>
        </td>
    </tr>

</body>

</html>