<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 2</title>
</head>

<body>
  <div classname="bigD">
    <header>
      <h1>The Dictionary</h1>

      <div class="topnav">
        <a routerLink="/home" routerLinkActive="active-list-item">Home</a>
        <a routerLink="/contact" routerLinkActive="active-list-item">Contact</a>
        <a routerLink="/term/english" routerLinkActive="active-list-item">Terms in English</a>
        <a routerLink="/term/nonEnglish" routerLinkActive="active-list-item">Terms in Non English</a>
        <div class="right">
        <a class="log" routerLink="/login" routerLinkActive="active-list-item1">Login</a>
        <a class="regis" routerLink="/register" routerLinkActive="active-list-item1">Register</a>
      </div>
    </div>
    </header>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <footer>
      © Manan Patel
    </footer>
  </div>
</body>

</html>